.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.headlines {
	margin-bottom: 30px;
}

.contact {
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}