.container {
    padding: 30px;
}

.button {
    cursor: pointer;
    margin: -1px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid var(--design);
    color: var(--design);
    background: none;
    background-color: var(--background);
}

.active {
    background: var(--design);
    color: var(--design-text);
}
